<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TOGO</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
</head>
<body>

  <div class="container">
    <h1 id="title">TOGO</h1>
    <ul id='nav'>
      <li><a href="/">Home</a></li>
      <li><a href="/bookmarks">Bookmarks</a></li>
    </ul>
    <hr>
      <%= yield  %>
    <hr>
    <footer>Footer</footer>
  </div>

</body>
</html>
